body {
    font-family: "Playfair Display", serif;
    background-color: rgb(240, 240, 240);
    font-size: 25px;
}

/* header */
.header {
    margin: 0;
    padding: 0;
    z-index: 9999;
    position: fixed;
    width: 100%;
}

.header .container {
    margin-inline: 15px;
    padding: 0 30px;
    background: #0C31A3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header .container .inner-menu {
    display: flex;
    margin-left: -130px;
}

.header .container .inner-menu a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
}

.header .container .inner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}

.header .container .inner-logo .text {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.header .container .inner-logo img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin: -25px -20px;
}

.header .container .inner-icon i {
    font-size: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.133);
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

/* end header */






/* footer */
.footer {
    padding: 0px;
    margin: 0px;
}

.footer .container {
    padding: 0px;
}

.footer .container .inner-backgr {
    background-image: url(/src/public/image/footer.png);
    display: flex;
    width: 100%;
    height: 412px;
    justify-content: center;
    align-items: center;
}
/* end footer */